.profile__avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  overflow: hidden;
  position: relative;
  transition: opacity 0.2s linear;
}

.profile__avatar-container::before {
  content: "";
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.profile__avatar-container:hover::before {
  background-image: url("../../../images/edit-avatar.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .profile__avatar-container {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
