.popup__input {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.9;
  color: #000;
}

.popup__input:focus {
  outline: 2px solid #739ee9;
}
