.button_type_edit-profile {
  margin-bottom: 9px;
  margin-left: 1px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: transparent center no-repeat url(../../../images/edit.svg);
}

@media screen and (max-width: 425px) {
  .button_type_edit-profile {
    margin-left: 0;
    margin-right: 19px;
    margin-bottom: 7px;
    width: 18px;
    height: 18px;
  }
}
